{% extends 'layout/basic.html' %}

{% block title %}Объявления пользователя - {{some_user.username}}{% endblock %}

{% block header %}Объявления пользователя {% if some_user.first_name and some_user.last_name %} {{ some_user.first_name }} {{ some_user.last_name }} {% else %}
    {{ some_user.username }}{% endif %}.{% endblock %}
{% block subheader %}Его объявления.{% endblock %}

{% block content %}

{% if bbs %}
{% if some_user.uuid == user.uuid %}
<p class="text-justify">
    <a class="link-info" href="{% url 'add' %}">Добавить</a> ещё объявления.
</p>
{% endif %}
<div class="row">
    {% for bb in bbs %}
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{bb.title}}</h5>
                <p class="card-text">{{bb.content|truncatechars:100}}</p>
                <p class="text-left text-muted font-italic">Дата создания: {{bb.published|date:"d.m.Y H:i:s"}}</p>
                <p class="text-left text-muted font-italic">Просмотров: {{bb.views_counter}}</p>
                <a class="card-link link-info" href="{% url 'by_rubric' bb.rubric.uuid %}">{{ bb.rubric.name }}</a>
                <a href="{% url 'detail' bb.slug %}?slug={{bb.slug}}&title={{bb.title}}&author={{bb.author}}" class="card-link">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
{% if some_user.uuid == user.uuid %}
<p class="text-justify">
    Объявлений пока ещё нет, но вы можете их <a class="link-info" href="{% url 'add' %}">добавить</a>.
</p>
{% endif %}
{% endif %}
{% endblock %}

{% block paginator %}
<nav class="pagination" aria-label="My paginator">
    <ul class="pagination">
        {% if page.has_previous %}
        <li class="page-link">
            <a class="page-link" href="?page={{ page.previous_page_number }}">&lt;</a>
        </li>
        {% endif %}
        <li class="page-link active" aria-current="page">
            <a class="page-link" href="?page={{ page.number }}">{{page.number}} / {{page.paginator.num_pages}}</a>
        </li>
        {% if page.has_next %}
        <li class="page-link"><a class="page-link" href="?page={{ page.next_page_number }}">&gt;</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}