{% extends 'layout/basic.html' %}

{% load bootstrap4 %}

{% block title %}{{ current_rubric }}{% endblock %}

{% block header %}Рубрика :: {{ bb.rubric.name }}{% endblock %}
{% block subheader %}Подробное описание объяаления "{{bb.title}}".{% endblock %}

{% block content %}
<p class="badge badge-info b">Количество просмотров: {{bb.views_counter}}.</p>
<p class="text-muted text-right font-italic">Автор: {{bb.author.username}}</p>

<hr>

<h5 class="text-primary">{{bb.title}}</h5>
<p class="text-justify">{{bb.content}}</p>
<p class="font-italic text-success">Цена: {{bb.price}} &#8381;.</p>
<p class="text-right text-muted font-italic">Дата создания: {{bb.published|date:"d.m.Y H:i:s"}}</p>

<hr>

<h5 class="text-info">Новый комментарий автора "{{user.username}}"</h5>

<form class="form" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons submit='Добавить' %}{% endbuttons %}
</form>

<hr>
<br>
{% if comments %}
<div class="mt-5">
{% for comment in comments %}
    <div class="my-2 p-2 border">
        <h5>{{comment.author}}</h5>
        <p>{{comment.content}}</p>
        <p class="text-right font-italic">{{comment.created_at|date:"d.m.Y H:i:s"}}</p>
    </div>
{% endfor %}
</div>
{% endif %}

{% endblock %}