{% extends 'layout/basic.html' %}

{% block title %}Список пользователей{% endblock %}

{% block header %}Список пользователей.{% endblock %}

<!--добавить в subheader нечего пока, поэтому просто переопределим-->
{% block subheader %}{% endblock %}

{% block content %}
<div class="row">
    {% for us in all_users %}
    {% if us.uuid != user.uuid and not us.is_superuser %}
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{us.username}}</h5>
                <p class="card-subtitle mb-2 text-muted">{{us.email}}</p>
                <p class="card-text">{{us.last_name}}</p>
                <p class="card-text">{{us.first_name}}</p>
                <a href="{% url 'user_ads' us.uuid %}" class="btn btn-primary">Объявления пользователя</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}

{% block paginator %}
<nav class="pagination" aria-label="My paginator">
    <ul class="pagination">
        {% if page.has_previous %}
        <li class="page-link">
            <a class="page-link" href="?page={{ page.previous_page_number }}">&lt;</a>
        </li>
        {% endif %}
        <li class="page-link active" aria-current="page">
            <a class="page-link" href="?page={{ page.number }}">{{page.number}} / {{page.paginator.num_pages}}</a>
        </li>
        {% if page.has_next %}
        <li class="page-link"><a class="page-link" href="?page={{ page.next_page_number }}">&gt;</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}